<h1>あそびかた</h1>

<p>このページでは「名前を当てるゲーム」について説明したいと思います。</p>
<p>トップページから、「ゲームをプレイする」ボタンを押すと、入力フォームとリストが表示されると思います。</p>
<p>このリストに書かれている人たちの中に、1人正解の人物がいます。</p>
<%= image_tag "tutorial_00.webp", alt: "遊び方の説明画像0", class: "info-image" %><br><br>

<p>では、どうやって正解を絞り込んでいくかというと、質問をします。</p>
<p>まず、「その人の〇〇は××ですか？」の〇〇を入力します。</p>
<p>ここでは、「性別」を選んでみます。</p>
<%= image_tag "tutorial_01.webp", alt: "遊び方の説明画像1", class: "info-image" %><br><br>

<p>今度は、「その人の〇〇は××ですか？」の××を入力します。</p>
<p>ここでは、「男性」を選んでみます。</p>
<%= image_tag "tutorial_02.webp", alt: "遊び方の説明画像2", class: "info-image" %><br><br>

<p>「その人の〇〇は××ですか？」の文章が完成している状態で、「質問する」ボタンを押してみます。</p>
<p>すると、画面上部に「はい」と表示されました。</p>
<%= image_tag "tutorial_03.webp", alt: "遊び方の説明画像3", class: "info-image" %><br><br>

<p>つまり、「正解の人物は男性である」ということがわかります。</p>
<p>「はい」と表示された場合、それ以外の人物は自動的にリストから除外されます。</p>
<p>ですので、この質問では「性別」が「女性」の人物がリストから除外されることになります。</p>
<p>今度は、「その人の住所は豊島区ですか？」と質問をしてみます。</p>
<p>すると、画面上部に「いいえ」と表示されました。</p>
<%= image_tag "tutorial_04.webp", alt: "遊び方の説明画像4", class: "info-image" %><br><br>

<p>つまり、「正解の人物の住所は豊島区ではない」ということがわかります。</p>
<p>「いいえ」と表示された場合、その人物は自動的にリストから除外されます。</p>
<p>ですので、この質問では「住所」が「豊島区」の人物がリストから除外されることになります。</p>
<p>このような質問を繰り返して、最終的に選ばれた1人の人物を選ぶことができればクリアです。</p>
<%= image_tag "tutorial_05.webp", alt: "遊び方の説明画像5", class: "info-image" %><br><br>

<p>また、リストはクリックすることで表示を降順か昇順か選ぶことが可能です。</p>
<%= image_tag "tutorial_06.webp", alt: "遊び方の説明画像5", class: "info-image" %><br><br>
<p>このような手段も駆使しながら、ぜひ短い質問数でのクリアも目指してみてください。</p>
<%= link_to 'トップへ戻る', root_path %>



<style>
  .info-image {
    max-width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
</style>