<h1>この人だ～れだ！</h1>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>直接入力フォームの例</title>
</head>
<body>
    <%= form_with(url: game_path, method: :post) do |form| %>
        <label for="subject">その人の</label>
        <%= form.text_field :subject, id: "subject", placeholder: "出身", required: true %>
        <label for="predicate">は</label>
        <%= form.text_field :predicate, id: "predicate", placeholder: "東京都", required: true %>
        <label>ですか？</label>
        <br><br>
        <%= form.submit "質問する" %>

    <% end %>
</body>
</html>

<table class="info-table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "名前")%></th>
      <th><%= sort_link(@q, :gender, "性別")%></th>
      <th><%= sort_link(@q, :age, "年齢")%></th>
      <th><%= sort_link(@q, :birthplace, "出身")%></th>
      <th><%= sort_link(@q, :job, "役職")%></th>
    </tr>
  </thead>
  <tbody>
    <% @hints.each do |hint| %>
      <tr>
        <td><%= hint.name %></td>
        <td><%= hint.human_readable_gender %></td>
        <td><%= hint.age %>代</td>
        <td><%= hint.birthplace %></td>
        <td><%= hint.job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  .info-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
  }
  .info-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
</style>
