<% if @giveup %>
  <h1>残念…</h1>
  <p>正解は <strong><%= @answer.name %></strong> さんでした。</p>
<% else %>
<h1>正解！</h1>

<% if flash.now[:notice] %>
  <p style="color: green;"><%= flash.now[:notice] %></p>
<% end %>

  <p>その人は <%= @answer.name %> さんでした。</p>
<% end %>
<p>合計で <%= session[:question_count] %> 回の質問をしました。</p>
<% if @elapsed_time.present? %>
  <p>かかった時間は <strong><%= @elapsed_time %> 秒</strong>でした。</p>
<% end %>

<%
  # シェアするテキストの構築
  share_status = @giveup ? "残念！ギブアップしました..." : "正解！その人は「#{@answer.name}」さんでした！"
  share_text = "#{share_status}\n質問回数: #{session[:question_count]}回\n経過時間: #{@elapsed_time}秒\n#ユニークなゲーム "
  share_url = "https://x.com/intent/tweet?#{ { text: share_text }.to_query }"
%>

<%= link_to 'Xで結果をシェア', share_url, target: '_blank', rel: 'noopener noreferrer', class: 'share-button' %>
<%= link_to 'もう一度プレイする', start_new_game_path, method: :get %>
<%= link_to 'プレイした記録を見る', record_path %>
