<!DOCTYPE html>
<html>
  <head>
    <title>ユニークなゲーム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= link_to "ユニークなゲーム", root_path, class: "logo" %>

      <!-- ハンバーガーメニュー用のチェックボックス (CSSで制御) -->
      <input type="checkbox" id="menu-toggle" class="menu-toggle">
      
      <!-- 三本線のアイコン -->
      <label for="menu-toggle" class="menu-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </label>

      <!-- ナビゲーションメニュー -->
      <nav class="nav-menu">
        <% if user_signed_in? %>      
          <%= link_to "ユーザー", user_path(current_user)%>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% end %>
        <%= link_to "あそびかた", how_to_play_path %>
        <%= link_to 'トップへ戻る', root_path %>
      </nav>
    </header>

    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
